:root{
    --primary: #13293d;
    --text-color: #2a9d8f;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    padding: 0 10% 0 10%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: white;
    border: none;
}

.logo img{
    height: 10vh;
}

nav{
    width: 70%;
    
}


nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

nav ul.show{
    display: flex;
    flex-direction: column;
    width: 100vw;
   
    z-index: 5;

}




nav a{
    text-decoration: none;
    color: white;
    font-size: 50px;
}

nav li{
    transition: 0.3s ease;
}

nav li:hover{
    transform: scale(115%);
}

.hamburger{
display: none;
    
}

.main{
    display: flex;
    background-color: var(--primary);
    color: white;
    height: 90vh;
    padding: 0 10% 0 10%;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
}

.info h2{
font-size: 100px;
font-weight: 200;
}

.highlight{
    font-weight: 500;
}

.info p{
    font-size: 30px;
    font-weight: 300;
}

.info a{
    background-color: rgb(255, 135, 36);
    height: 50px;
    width: 150px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-top: 15px;
    border-radius: 40px;
    
}

.info a:hover{
    background-color: rgb(212, 112, 30);
}



.about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
    height: 100vh;
    
}

.about-info h2{
    font-size: 70px;
}

.about-info p{
    width: 40vw;
    font-size: 20px;
}

.about-image img{
    width: 400px;
    border-radius: 50%;
    border: 20px solid var(--primary);
}

.skills{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding-top: 100px;
    
}

.skills h2{
    text-align: center;
    margin-bottom: 2em;
    font-size: 3em;
    color: var(--primary);
    
}

.skills-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 150px 50px;
    background-color: #f2f2f2;
    padding: 100px 75px;
    color: var(--primary);
    justify-items: center;
}

.portfolio{
    height: 100vh;
    text-align: center;
    padding: 0 10% 0 10%;
    
    
}

.portfolio h2{
    padding-top: 80px;
    font-size: 50px;
}

.projects{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   height: 80%;
   margin-bottom: 10%;
    
}

.project{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 275px;
    height: 350px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: rgb(121, 118, 118) 5px 5px 10px;
    transition: 0.3s ease;

}

.project:hover{
    transform: scale(120%);
}

.project img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}



.projects a{
    text-decoration: none;
    color: black;
}

footer{
    height: 80vh;
    background-color: var(--primary);
    color: white;
    text-align: center;
    padding-top: 50px;
    margin-top: 5%;
}

.contact{
    font-size: 40px;
    font-weight: 500;
}

.email{
    font-size: 40px;
    font-weight: 300;
}

footer ul{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer a{
    color: white;
    text-decoration: none;
    
}

footer svg{
    transition: all 0.3s ease;
}

footer svg:hover{
    transform: translateY(-10px);
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.start{
    position: relative;
    transform: translateX(-150px);
    opacity: 0;
    transition: all 1.5s ease;
}

.start.active{
    transform: translateX(0px);
    opacity: 1;
    z-index: 0;
}

.startReverse{
    position: relative;
    transform: translateY(-50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.startReverse.active{
    transform: translateY(0px);
    opacity: 1;
    z-index: 1;
}







@media only screen and (max-width: 1000px) {

header{
    background-color: var(--primary);
    padding: 0%;
    display: block;
}
.hamburger{
   display: block;
    background-color: transparent;
    border: transparent;
    z-index: 3;
    padding-top: 1em;
    padding-right: 1em;
 
    

    
}
nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 100%;
    width: 100vw;
   
    
}

nav ul{
    display: none;
    background-color: var(--primary);
    border-bottom: 2px solid #0a1622;
 }

nav ul li{
    padding-left: 2em;
}


.logo{
    display: none;
}

.main{
    flex-direction: column;
}

.info h2{
    font-size: 80px;
    margin-top: 20px;
}
.info p{
    margin-top: 30px;
}

.info a{
    margin-top: 10px;
    margin-left: 90px;
}

.social{
    flex-direction: row;
    width: 90vw;
    margin-top: 50px;
}

.about{
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    height: 100vh;
    padding-top: 75px;
}

.about-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-info h2{
    font-size: 50px;
    padding-top: 100px;
    
}

.about-info p{
    text-align: center;
    width: 110%;
}

.about-image img{
    width: 300px;
    margin-top: 30px;
}

.skills{
    padding-top: 0;
    transform: translateY(100px);
    
}

.skills h2{
    margin-top: 100px;
    padding-top: 20px;
    margin-bottom: 1em;
}

.skills-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-gap: 10px 0;
}

.portfolio{
    margin-top: 100px;
    height: 200vh
}

.portfolio h2{
    margin-bottom: 2em;
}

.projects{
    flex-direction: column;
   transform: translateY(40px);
    
    
}

.project{
    margin-bottom: 3em;
}

footer{
    margin-top: 100px;
}

.email{
    font-size: 150%;
}


}